
<div class="form">
  <form class="login-form" [formGroup]="groupForm" (ngSubmit)="onFormSubmit()">
    <input formControlName="name" placeholder="Enter group Name">
    <button type="submit">Submit</button>
  </form>
</div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Mailerlite Id</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let group of group">
      <td>{{group.groupname}}</td>
      <td>{{group.mlgid}}</td>
    </tr>
  </tbody>
</table>
<!-- <form class="login-form" [formGroup]="form" (ngSubmit)="onFormSubmit()">
  <select formControlName="groupname">
      <option  [ngValue]="group.groupname">
          {{ group.name }}
      </option>
      </select>
      
</form> -->